:host {
    display: block;
    padding: 2rem;
    margin: 0 2rem;
    div {
        background: #efefef;
        margin: 1rem 0;
        padding: 1rem;
        width: 20rem;
        display: flex;
        align-items: flex-start;
        gap: 1rem;
    }
}