:host {
  display: flex;
  main {
    overflow: auto;
    flex-grow: 1;
  }
  nav{
    margin-top: 2rem;
    ul {
      list-style: none;
      a {
        padding: 0.5rem 1rem;
        text-decoration: none;
        display: block;
      }
    }
  }

}
