* {
  margin: 0;
  padding: 0;
}
body {
  max-width: 1000px;
  margin: 0 auto;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}
button:not(.sign-out) {
  padding: 0.5rem 1rem;
  background: navy;
  color: #fff;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  &:active {
      background: blue;
  }
}
